# Raw CICIDS2017 dataset
data/raw/*.csv

# Processed data
data/processed/

# Jupyter checkpoints
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Model files
models/rf_baseline.joblib